.map_container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    border-right: 1px solid #efefef;
}

.control {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 8px;
    border-top: 1px solid #efefef;
}
